@media screen and (max-width: 767px) {
  .food-card-grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }

  .food-card-grid .card.mb-3 {
    width: 100%;
    height: auto;
  }

  .food-card-grid .row {
    flex-direction: column;
  }

  .food-card-grid .card-body {
    padding: 8px;
  }

  .food-card-grid .card-title {
    font-size: 14px;
  }

  .food-card-grid .card-text {
    font-size: 12px;
  }

  .food-card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
  }

  /* 이미지가 카드 안에 제대로 들어오도록 조정 */
  .img-wrapper {
    max-width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .responsive-image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }


  /* 카드 내용 영역 */
  .responsive-body {
    height: auto !important;
    padding: 10px;
    overflow: visible;
  }

  /* 이미지 wrapper 설정 */
  .responsive-image-wrapper {
    display: flex;
    justify-content: center !important;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }

  /* 이미지 자체 설정 */
  .responsive-image {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 10px 10px !important;
    object-fit: cover;
  }

  /* 목록 글자 스타일 */
  .responsive-list .list-group-item {
    word-break: keep-all;
    white-space: normal;
    font-size: 11px;
  }

}

@media screen and (max-width: 550px) {
  .food-card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
  }
}


