.lecture-card img {
  object-fit: cover;
  height: 200px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.lecture-card .tags {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
